# Local .terraform directories
**/.terraform/*

# .tfstate files (Contains your hardware config and potentially secrets)
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json
secrets.auto.tfvars

# Log files
*.log
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.env